.od-guide-layout {

  &.od-guide-layout--tablet, &.od-guide-layout--mobile {
    .od-guide-layout__wrapper {
      margin-top: calc(64px + 24px);
    }
  }

  .od-guide-layout__wrapper {
    margin-top: 64px;
  }

  .od-guide-layout__main {
    $base-width: 720px;
    $navigation-width: 220px;

    display: block;
    max-width: $base-width;
    margin: 0 auto;
    padding: 8px;
    color: black;

    @media (max-width: $base-width + $navigation-width * 2) and (min-width: 811px) {
      max-width: calc(100% - (220px * 2));
    }
  }
}

// For dark theme.
.body--dark {
  .od-guide-layout__main {
    color: #ffffff;
  }
}
