.od-guide-layout {

  &.od-guide-layout--tablet, &.od-guide-layout--mobile {
    .od-guide-layout__wrapper {
      margin-top: calc(64px + 24px);
    }
  }

  .od-guide-layout__wrapper {
    margin-top: 64px;
  }

  .od-guide-layout__main {
    display: block;
    max-width: 720px;
    margin: 0 auto;
    padding: 8px;
    color: black;
  }
}
